# .vscode/*
# bin/*
# !bin/.keep.DS_Store
# VS Code
# VS Code
.vscode/*

# Build output
bin/*
!bin/.keep

# macOS junk
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Task 2 datasets (do NOT commit)
PointNet/shapenet-core-seg/
PointNet/lidar-od-scripts/
PointNet/subset/

# Python virtual environment
PointNet/.venv/

